[Desktop Entry]
Name=KRegExpEditor
Name[cs]=KRegExpEditor
Name[de]=KRegExpEditor
Name[es]=KRegExpEditor
Name[et]=KRegExpEditor
Name[fi]=KRegExpEditor
Name[fr]=KRegExpEditor
Name[ga]=KRegExpEditor
Name[gl]=KRegExpEditor
Name[hu]=KRegExpEditor
Name[km]=KRegExpEditor
Name[nl]=KRegExpEditor
Name[pl]=KRegExpEditor
Name[pt]=KRegExpEditor
Name[pt_BR]=KRegExpEditor
Name[sk]=KRegExpEditor
Name[sv]=Kregexpeditor
Name[tr]=KRegExpEditor
Name[uk]=KRegExpEditor
Name[x-test]=xxKRegExpEditorxx
Exec=kregexpeditor
X-DocPath=kregexpeditor/index.html
GenericName=Regular Expression Editor
GenericName[cs]=Editor regulárních výrazů
GenericName[de]=Editor für reguläre Ausdrücke
GenericName[es]=Editor de expresiones regulares
GenericName[et]=Regulaaravaldiste redaktor
GenericName[fi]=Säännöllisten lausekkeiden muokkain
GenericName[fr]=Éditeur d'expressions rationnelles
GenericName[ga]=Eagarthóir Slonn Ionadaíochta
GenericName[gl]=Editor de expresións regulares
GenericName[hu]=Reguláris kifejezés szerkesztő
GenericName[km]=កម្មវិធី​កែសម្រួល​កន្សោម​ធម្មតា
GenericName[nds]=Editor för regulere Utdrück
GenericName[nl]=Editor voor regular expressions
GenericName[pl]=Edytor wyrażeń regularnych
GenericName[pt]=Editor de Expressões Regulares
GenericName[pt_BR]=Editor de Expressões Regulares
GenericName[sk]=Editor regulárnych výrazov
GenericName[sv]=Editor för reguljära uttryck
GenericName[tr]=Düzenli İfade Düzenleyicisi
GenericName[uk]=Редактор формальних виразів
GenericName[x-test]=xxRegular Expression Editorxx
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-More;
Icon=kregexpeditor
