[Desktop Entry]
Name=KRegExpEditor
Name[es]=KRegExpEditor
Name[ga]=KRegExpEditor
Name[nl]=KRegExpEditor
Name[pt]=KRegExpEditor
Name[pt_BR]=KRegExpEditor
Name[sv]=Kregexpeditor
Name[uk]=KRegExpEditor
Name[x-test]=xxKRegExpEditorxx
Exec=kregexpeditor
X-DocPath=kregexpeditor/index.html
GenericName=Regular Expression Editor
GenericName[es]=Editor de expresiones regulares
GenericName[ga]=Eagarthóir Slonn Ionadaíochta
GenericName[nds]=Editor för regulere Utdrück
GenericName[nl]=Editor voor regular expressions
GenericName[pt]=Editor de Expressões Regulares
GenericName[pt_BR]=Editor de Expressões Regulares
GenericName[sv]=Editor för reguljära uttryck
GenericName[uk]=Редактор формальних виразів
GenericName[x-test]=xxRegular Expression Editorxx
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-More;
Icon=kregexpeditor
