[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=RegExp Editor Widget
Name[af]=Regexp Redigeerder Gui-element
Name[ar]=أداة محرر التعابير النظامية
Name[az]=Qaydalıİfadə Editor Pəncərəsi
Name[bg]=Редактор на регулярни изрази
Name[ca]=Estri editor RegExp
Name[cs]=Editor regulárních výrazů
Name[cy]=Teclyn Golygydd RegExp
Name[da]=RegExp Editor-kontrol
Name[de]=RegExp-Bedienelement
Name[el]=Γραφικό συστατικό επεξεργασίας κανονικών εκφράσεων
Name[eo]=Redaktilo por regulesprimoj
Name[es]=Ventana de edición RegExp
Name[et]=Regulaaravaldiste redaktori komponent
Name[eu]=RegExp Editore Widgeta
Name[fa]=RegExp عنصر ویرایشگر
Name[fi]=Säännöllisten lauseiden muokkain
Name[fr]=Composant éditeur d'exp. rég.
Name[ga]=Giuirléid Eagarthóireachta Sloinn Ionadaíochta
Name[he]=פריט עורך הביטויים הסדירים
Name[hi]=रेग-एक्सपी संपादक विजेट
Name[hr]=Widget za uređivanje RegExp-a (regularnih izraza)
Name[hu]=Grafikus objektum reguláris kifejezések szerkesztéséhez
Name[it]=Elemento grafico dell'editor di espressioni regolari
Name[ja]=正規表現エディタウィジェット
Name[kk]=Үлгі өрнегінің өңдеу бөлшегі
Name[km]=វត្ថុ​មើល​ឃើញកម្មវិធី​និពន្ធ RegExp
Name[lt]=RegExp redaktoriaus valdiklis
Name[lv]=RegExp Redaktora Widžets
Name[mk]=графичка контрола за уредување RegExp 
Name[ms]=Wijet Penyunting RegExp
Name[mt]=Editur ta' RegExp
Name[nb]=Skjermelement RegExp tekstbehandler
Name[nds]=RegExp Editor-Bedeenelement
Name[ne]=RegExp सम्पादक विजेट
Name[nn]=Skjermelement for redigering av regulære uttrykk
Name[pl]=Edytor wyrażeń regularnych
Name[pt]=Editor de Expressões Regulares
Name[pt_BR]=Widget do Editor de Expressões Regulares
Name[ro]=Componentă editare expresii regulate
Name[ru]=Виджет редактора регулярных выражений
Name[sk]=Prvok Editor regulárnych výrazov
Name[sl]=Gradnik urejevalnika RegExp
Name[sr]=Контрола уређивача регуларних израза
Name[sr@Latn]=Kontrola uređivača regularnih izraza
Name[sv]=Grafisk komponent för att redigera reguljära uttryck
Name[ta]= RegExp தொகுப்பான் சாளரம்
Name[tg]=Ҷузъи Муҳаррири Ифодаҳои Муқаррарӣ
Name[th]=คอนโทรลแก้ไข RegExp
Name[tr]=RegExp Düzenleyici Aleti
Name[uk]=Віджет редактору регулярних виразів
Name[ven]=Widget ya musengulusi wa RegExp
Name[wa]=Ahesse aspougneu d' erîlêyès ratourneures
Name[xh]=RegExp Umhleli we Widget
Name[zh_CN]=正则表达式编辑器部件
Name[zh_TW]=正規表示式編輯小程式
Name[zu]=RegExp Umhleli we-widget
X-KDE-Library=libkregexpeditorgui
InitialPreference=2
ServiceTypes=KRegExpEditor/KRegExpEditor
