[Desktop Entry]
Type=Service
Name=RegExp Editor Widget
X-KDE-Library=libkregexpeditorgui
InitialPreference=2
X-KDE-ServiceTypes=KRegExpEditor/KRegExpEditor
