[Desktop Entry]
Type=Service
Name=RegExp Editor Widget
Name[bg]=Редактор на регулярни изрази
Name[bs]=Alat za uređivanje regularnih izraza
Name[ca]=Giny per a l'editor d'expressions regulars
Name[ca@valencia]=Giny per a l'editor d'expressions regulars
Name[cs]=Widget editoru regulárních výrazů
Name[da]=Widget til reg.udtr-editor
Name[de]=RegExp-Editorfenster
Name[el]=Βοηθός επεξεργασίας RegExp
Name[en_GB]=RegExp Editor Widget
Name[es]=Complemento de edición para RegExp
Name[et]=Regulaaravaldiste redaktori vidin
Name[fi]=Säännöllisten lausekkeiden muokkauselementti
Name[fr]=Composant graphique d'édition d'expressions rationnelles
Name[ga]=Giuirléid Eagarthóireachta Slonn Ionadaíochta
Name[gl]=Trebello de edición de expresións regulares
Name[hu]=Reguláris kifejezés szerkesztő grafikai elem
Name[ia]=RegExp Editor Widget
Name[it]=Oggetto di editor di espressioni regolari
Name[km]=ធាតុ​ក្រាហ្វិក​កម្មវិធី​កែសម្រួល RegExp
Name[ko]=정규 표현식 편집기 위젯
Name[mr]=रेग-एक्स्प संपादक विजेट
Name[nds]=RegUtd-Editorlüttprogramm
Name[nl]=Widget voor RegExp-bewerker
Name[nn]=Redigeringselement for regulære uttrykk
Name[pl]=Element interfejsu edytora wyrażeń regularnych
Name[pt]=Item Editor de Expressões Regulares
Name[pt_BR]=Widget Editor de ExpReg
Name[ru]=Компонент редактора регулярных выражений
Name[sk]=Widget editora RegExp
Name[sl]=Gradnik urejevalnik RegExp
Name[sv]=Grafisk komponent för att redigera reguljära uttryck
Name[tr]=RegExp Düzenleyici Gereci
Name[ug]=RegExp تەھرىرلىگۈچ كىچىك ئېپى()
Name[uk]=Віджет редактора формальних виразів
Name[x-test]=xxRegExp Editor Widgetxx
Name[zh_TW]=正則表達式編輯器元件
X-KDE-Library=kregexpeditorgui
InitialPreference=2
X-KDE-ServiceTypes=KRegExpEditor/KRegExpEditor
