[Desktop Entry]
Name=KRegExpEditor
Name[bg]=KRegExpEditor
Name[bs]=KRegExpEditor
Name[ca]=KRegExpEditor
Name[ca@valencia]=KRegExpEditor
Name[cs]=KRegExpEditor
Name[da]=KRegExpEditor
Name[de]=KRegExpEditor
Name[el]=KRegExpEditor
Name[en_GB]=KRegExpEditor
Name[es]=KRegExpEditor
Name[et]=KRegExpEditor
Name[fi]=KRegExpEditor
Name[fr]=KRegExpEditor
Name[ga]=KRegExpEditor
Name[gl]=KRegExpEditor
Name[hu]=KRegExpEditor
Name[ia]=KRegExpEditor
Name[it]=KRegExpEditor
Name[km]=KRegExpEditor
Name[ko]=KRegExpEditor
Name[mr]=के-रेग-एक्स्प-एडिटर
Name[nl]=KRegExpEditor
Name[pl]=KRegExpEditor
Name[pt]=KRegExpEditor
Name[pt_BR]=KRegExpEditor
Name[ru]=KRegExpEditor
Name[sk]=KRegExpEditor
Name[sv]=Kregexpeditor
Name[tr]=KRegExpEditor
Name[ug]=KRegExpEditor
Name[uk]=KRegExpEditor
Name[x-test]=xxKRegExpEditorxx
Name[zh_TW]=KRegExpEditor
Exec=kregexpeditor
X-DocPath=kregexpeditor/index.html
GenericName=Regular Expression Editor
GenericName[bg]=Редактор на регулярни изрази
GenericName[bs]=Uređivač regularnih izraza
GenericName[ca]=Editor d'expressions regulars
GenericName[ca@valencia]=Editor d'expressions regulars
GenericName[cs]=Editor regulárních výrazů
GenericName[da]=Editor til regulære udtryk
GenericName[de]=Editor für reguläre Ausdrücke
GenericName[el]=Επεξεργαστής κανονικών εκφράσεων
GenericName[en_GB]=Regular Expression Editor
GenericName[es]=Editor de expresiones regulares
GenericName[et]=Regulaaravaldiste redaktor
GenericName[fi]=Säännöllisten lausekkeiden muokkain
GenericName[fr]=Éditeur d'expressions rationnelles
GenericName[ga]=Eagarthóir Slonn Ionadaíochta
GenericName[gl]=Editor de expresións regulares
GenericName[hu]=Reguláris kifejezés szerkesztő
GenericName[ia]=Modificator de Expression regular
GenericName[it]=Editor di espressioni regolari
GenericName[km]=កម្មវិធី​កែសម្រួល​កន្សោម​ធម្មតា
GenericName[ko]=정규 표현식 편집기
GenericName[mr]=नियमित अभिव्यक्ति संपादक
GenericName[nds]=Editor för regulere Utdrück
GenericName[nl]=Editor voor regular expressions
GenericName[pl]=Edytor wyrażeń regularnych
GenericName[pt]=Editor de Expressões Regulares
GenericName[pt_BR]=Editor de Expressões Regulares
GenericName[ru]=Редактор регулярных выражений
GenericName[sk]=Editor regulárnych výrazov
GenericName[sv]=Editor för reguljära uttryck
GenericName[tr]=Düzenli İfade Düzenleyicisi
GenericName[ug]=مۇنتىزىم ئىپادە تەھرىرلىگۈچ
GenericName[uk]=Редактор формальних виразів
GenericName[x-test]=xxRegular Expression Editorxx
GenericName[zh_TW]=正則表達式編輯器
Terminal=false
Type=Application
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-More;
Icon=kregexpeditor
