[Desktop Entry]
Name=KRegExpEditor
Name[ar]=محرر التعابير النمطية
Name[ast]=KRegExpEditor
Name[bg]=KRegExpEditor
Name[bs]=KRegExpEditor
Name[ca]=KRegExpEditor
Name[ca@valencia]=KRegExpEditor
Name[cs]=KRegExpEditor
Name[da]=KRegExpEditor
Name[de]=KRegExpEditor
Name[el]=KRegExpEditor
Name[en_GB]=KRegExpEditor
Name[eo]=KRegExpEditor
Name[es]=KRegExpEditor
Name[et]=KRegExpEditor
Name[eu]=KRegExpEditor
Name[fi]=KRegExpEditor
Name[fr]=KRegExpEditor
Name[ga]=KRegExpEditor
Name[gl]=KRegExpEditor
Name[he]=KRegExpEditor
Name[hu]=KRegExpEditor
Name[ia]=KRegExpEditor
Name[ie]=KRegExpEditor
Name[it]=KRegExpEditor
Name[ka]=KRegExpEditor
Name[km]=KRegExpEditor
Name[ko]=KRegExpEditor
Name[lv]=KRegExpEditor
Name[mr]=के-रेग-एक्स्प-एडिटर
Name[nl]=KRegExpEditor
Name[nn]=KRegExpEditor
Name[pl]=KRegExpEditor
Name[pt]=KRegExpEditor
Name[pt_BR]=KRegExpEditor
Name[ro]=KRegExpEditor
Name[ru]=KRegExpEditor
Name[sa]=KRegExpEditor इति
Name[sk]=KRegExpEditor
Name[sl]=KRegExpEditor
Name[sv]=Kregexpeditor
Name[tr]=KRegExpEditor
Name[ug]=KRegExpEditor
Name[uk]=KRegExpEditor
Name[zh_TW]=KRegExpEditor
Exec=kregexpeditor
X-DocPath=kregexpeditor/index.html
GenericName=Regular Expression Editor
GenericName[ar]=محرر التعبير النمطى
GenericName[bg]=Редактор на регулярни изрази
GenericName[bs]=Uređivač regularnih izraza
GenericName[ca]=Editor d'expressions regulars
GenericName[ca@valencia]=Editor d'expressions regulars
GenericName[cs]=Editor regulárních výrazů
GenericName[da]=Editor til regulære udtryk
GenericName[de]=Editor für reguläre Ausdrücke
GenericName[el]=Επεξεργαστής κανονικών εκφράσεων
GenericName[en_GB]=Regular Expression Editor
GenericName[eo]=Redaktilo por Regulaj Esprimoj
GenericName[es]=Editor de expresiones regulares
GenericName[et]=Regulaaravaldiste redaktor
GenericName[eu]=Adierazpen erregularren editorea
GenericName[fi]=Säännöllisten lausekkeiden muokkain
GenericName[fr]=Éditeur d'expressions rationnelles
GenericName[ga]=Eagarthóir Slonn Ionadaíochta
GenericName[gl]=Editor de expresións regulares
GenericName[he]=עורך ביטויים רגולריים
GenericName[hu]=Reguláris kifejezés szerkesztő
GenericName[ia]=Modificator de Expression regular
GenericName[ie]=Redactor de expressiones regulari
GenericName[it]=Editor di espressioni regolari
GenericName[ka]=რეგულარული გამოსახულების რედაქტორი
GenericName[km]=កម្មវិធី​កែសម្រួល​កន្សោម​ធម្មតា
GenericName[ko]=정규 표현식 편집기
GenericName[lv]=Regulāro izteiksmju redaktors
GenericName[mr]=नियमित अभिव्यक्ति संपादक
GenericName[nds]=Editor för regulere Utdrück
GenericName[nl]=Bewerker voor reguliere expressies
GenericName[nn]=Redigeringsprogram for regulære uttrykk
GenericName[pl]=Edytor wyrażeń regularnych
GenericName[pt]=Editor de Expressões Regulares
GenericName[pt_BR]=Editor de Expressões Regulares
GenericName[ro]=Redactor de expresii regulate
GenericName[ru]=Редактор регулярных выражений
GenericName[sa]=नियमित अभिव्यक्ति सम्पादक
GenericName[sk]=Editor regulárnych výrazov
GenericName[sl]=Urejevalnik regularnih izrazov
GenericName[sv]=Editor för reguljära uttryck
GenericName[tr]=Düzenli İfade Düzenleyicisi
GenericName[ug]=مۇنتىزىم ئىپادە تەھرىرلىگۈچ
GenericName[uk]=Редактор формальних виразів
GenericName[zh_CN]=正则表达式编辑器
GenericName[zh_TW]=正則表達式編輯器
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-More;
Icon=kregexpeditor
